{% extends 'index.html' %}

{% block content %}
<div class="reg_form">
    <form action="/add_event" method="post">
        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock content %}