{% extends 'index.html' %}

{% block content %}
<div class="event_form">
    <form action="/add_event" method="post" class="eventform">
        {{ form.hidden_tag() }}
        <table class="eventform">
            <tbody>
                <tr>
                    <div class="title">
                        <td>{{ form.title.label() }}</td>
                        <td>{{ form.title }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="start">
                        <td>{{ form.start.label() }}</td>
                        <td>{{ form.start }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="time_start">
                        <td>{{ form.time_start.label }}</td>
                        <td>{{ form.time_start }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="time_end">
                        <td>{{ form.time_end.label }}</td>
                        <td>{{ form.time_end }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="route">
                        <td>{{ form.rute.label() }}</td>
                        <td>{{ form.rute }}</td>
                    </div>
                </tr>
                <tr>
                    <div class="desc">
                        <td>{{ form.desc.label() }}</td>
                        <td>{{ form.desc }}</td>
                    </div>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="submit">
                            {{ form.submit() }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock content %}