{% extends 'index.html'%}
{% block content %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");

    var calendar = new FullCalendar.Calendar(calendarEl, {
      nextDayThreshold: '00:00:00',
      events : [
        {% for site_event in site_events %}
          {
            title : '{{ site_event.title }}',
            start : '{{ site_event.start }}T{{ site_event.time_start }}',
            end : '{{ site_event.end }}T{{ site_event.time_end }}',
            url: '/showevent/{{ site_event.id }}'
          },
        {% endfor %}
      ],
      aspectRatio : 2.4,
      headerToolbar: {
        left: "dayGridMonth,timeGridWeek,timeGridDay",
        center: "title",
        {% if current_user.is_admin or current_user.is_trainer %}
        right: "custom2",
        {% endif %}
      },
      footerToolbar: {
        left: "",
        center: "",
        right: "prev,next",
      },
      {% if current_user.is_admin or current_user.is_trainer %}
      customButtons: {
        custom2: {
          text: "Opret Event",
          click: function () {
            location.href = "{{ url_for('add_event') }}";
          },
        },
      },
      {% endif %}
    });

    calendar.render();
  });
</script>
<div id="calendar">
</div>
{% endblock content %}