{% extends 'index.html' %}

{% block content %}
<div class="show_event_container">
    <div class="rute">{{ post.rute | safe }}</div>
    <div class="info">
        <table>
            <tr>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <td>Dato:</td>
                <td>{{ post.start }}</td>
            </tr>
            <tr>
                <td>Start Tidspunkt</td>
                <td>Slut Tidspunkt</td>
            </tr>
            <tr>
                <td>{{ post.time_start }}</td>
                <td>{{ post.time_end }}</td>
            </tr>
            <tr>
                <td>{{ post.desc }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}