{% extends 'index.html' %} {% block content %}
<div class="show_event_container">
  {% if not post.rute %}
  <img class="no-rute-event" src="../static/images/freedom.png" alt="" />
  {% else %}
  <div class="show_event_rute">{{ post.rute | safe }}</div>
  {% endif %}
  <div class="show_event_info">
    <div class="show_event_title"><h2>{{ post.title }}</h2></div>

    <div class="show_event_content">
      <div class="show_event_start_label">
        Dato:
        <div class="show_event_start">{{ post.start }}</div>
      </div>
      <div class="show_event_time_start_label">
        Begivenhed Start-tid:
        <div class="show_event_time_start">{{ post.time_start }}</div>
      </div>
      <div class="show_event_time_end_label">
        Begivenhed Slut-tid:
        <div class="show_event_time_end">{{ post.time_end }}</div>
      </div>
      <div class="show_event_beskrivelse">
        <div style="text-decoration: underline">Beskrivelse</div>
        <div class="show_event_desc">{{ post.desc }}</div>
      </div>
      {% if post.bruger == current_user or current_user.is_admin%}
      <div class="show_event_edit">
        <li class="edit_event_knap">
          <a href="{{url_for('edit_event', event_id = post.id)}}">Rediger</a>
          <a
            href="{{url_for('delete_event', event_id = post.id)}}"
            class="delete-knp btn-danger"
            >Slet Begivenhed</a
          >
        </li>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
