{% extends 'index.html' %}
{% block content %}
<div class="reg_form">
    <form action="" method="post">
        {{ form.hidden_tag() }}
            <table>
                <tbody>
                    <tr>
                        <div class="username">
                            <td>{{ form.username.label() }}</td>
                            <td>{{ form.username() }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="password">
                            <td>{{ form.password.label() }}</td>
                            <td>{{ form.password() }}</td>
                        </div>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="submit">
                                {{ form.submit() }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Ikke registreret? Opret konto <a href="{{ url_for('register') }}">Her</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p><a href="#password_reset">Glemt Kode?</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </form>
</div>
{% endblock content %}