{% extends 'index.html' %} {% block content %}
<div class="">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="opret-rute-felt row">
      <div class="col-xl-5">
        <div class="card bg-custom-login p-3">
          <div class="card-body text-light">
            <p class="mb-4 text-center text-light">Opret Rute</p>
            {{ form.name.label() }} {{ form.name(class="input-felt mb-4") }}
            {{form.dist.label() }} {{ form.dist(class="input-felt mb-4") }}
            <div class="mb-4">
              {{ form.byen(class="")}} {{ form.byen.label(class="")}}
            </div>

            <div class="mb-4">
              {{ form.land(class="custom-control-input")}} {{
              form.land.label(class="custom-control-label")}}
            </div>
            {{ form.desc.label() }} {{ form.desc(class="input-felt mb-4")}} {{
            form.rute.label() }} {{ form.rute(class="input-felt mb-4")}}
            <p class="small mb-1 pb-2">
              <a
                class="text-light-50"
                href="https://support.garmin.com/en-US/?faq=tWx3JQyjlU474jqa91EJs8"
                target="_blank"
                >Hvordan får jeg et iFrame?</a
              >
            </p>
            <p class="small mb-1 pb-2" style="font-style: italic">
              Efter rute er oprettet på Garmin: Tryk "Make
              Public"->"Share"->"Embed"
            </p>
            {{ form.submit(class="btn btn-light btn-outline-dark btn-lg px-5")
            }}
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endblock content %}
</div>
