{% extends 'index.html' %}
{% block content %}
<div class="reg_form">
    <form action="" method="post">
        {{ form.hidden_tag() }}
            <table>
                <tbody>
                    <tr>
                        <div class="username">
                            <td>{{ form.username.label() }}</td>
                            <td>{{ form.username() }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="email">
                            <td>{{ form.email.label() }}</td>
                            <td>{{ form.email() }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="password">
                            <td>{{ form.password.label() }}</td>
                            <td>{{ form.password() }}</td>
                        </div>
                    </tr>
                    <tr>
                        <div class="password_confirm">
                            <td>{{ form.password_confirm.label() }}</td>
                            <td>{{ form.password_confirm() }}</td>
                        </div>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="submit">
                                {{ form.submit() }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Allerede registreret? Log Ind <a href="{{ url_for('login') }}">Her</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </form>
</div>
{% endblock content %}