{% extends 'index.html'%}
{% block content %}



<div class="navbar2">
    <ul>
        <li><h1>Oversigt over ruter</h1></li>
        <li>
            <select name="filter" id="filter">
                <option value="Hej">filter</option>
                <option value="Hej">2</option>
                <option value="Bøsse">3</option>
                <option value="Dunse">4</option>
            </select>
        </li>
        <li><a href="#opretrute">Opret Rute</a></li>
    </ul>
</div>


<div class="grid" id="ruter">
    <div class="grid_item">
        <div class="box"></div>
        <div class="desc">
            <h2>Rutenavn</h2>
            <p>Længe:</p>
            <p>stjernerne</p>
        </div>
    </div>
    <div class="grid_item">
        <div class="box"></div>
        <div class="desc">
            <h2>Rutenavn</h2>
            <p>Længe:</p>
            <p>stjernerne</p>
        </div>
    </div>
    <div class="grid_item">
        <div class="box"></div>
        <div class="desc">
            <h2>Rutenavn</h2>
            <p>Længe:</p>
            <p>stjernerne</p>
        </div>
    </div>
    <div class="grid_item">
        <div class="box"></div>
        <div class="desc">
            <h2>Rutenavn</h2>
            <p>Længe:</p>
            <p>stjernerne</p>
        </div>
    </div>
    <div class="grid_item">
        <div class="box"></div>
        <div class="desc">
            <h2>Rutenavn</h2>
            <p>Længe:</p>
            <p>stjernerne</p>
        </div>
    </div>
    <div class="grid_item">
        <div class="box"></div>
        <div class="desc">
            <h2>Rutenavn</h2>
            <p>Længe:</p>
            <p>stjernerne</p>
        </div>
    </div>

</div>

{% endblock content %}