{% extends 'index.html'%}  {% block content %}
  <form class="filter-bar" method="POST">
    {{ form.hidden_tag() }}
    <div class="filter-rute">
    <div class="">
      {{form.choice.label(class="l")}}
      {{ form.choice(placeholder="Terreng:")}}
    </div>
    <div class="">
      {{form.distance.label(class="")}}
      {{form.distance(placeholder="Distance:")}}
    </div>
  </div>
  <div class="search-div"><a href="">
    {{ form.submit(class="search-knp") }}</a>
    </div>
    <div class="opret-rute-div">
  {% if current_user.is_admin or current_user.is_trainer %}
  <a
    href="{{ url_for('nyrute') }}"
    class="opret-rute-knp text-light"
    >Opret Rute</a
  >
  <a
  href="/admin/rute"
  class="opret-rute-knp text-light"
  >Slet Ruter</a
>
  {% endif %}
</div>

</form>
<br>
<div class="ruter-content">
    {% for rute in ruter %}
    <div class="rute-container">
      <h2 class="rute_titel text-light">{{ rute.name }}</h2>
      <div class="rute-img">{{ rute.rute | safe }}</div>
      <div class="rute_info_1 text-dark">
        <h5 class="rute_beskivelse">Rute beskrivelse</h5>
        <div class="rute_info_2 text-dark">
        {{ rute.desc }}
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
