@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat";
  background-image: url(./images/geometry2.png) !important;
  background-repeat: repeat !important;
}

.container {
  font-family: "Montserrat";
  width: fit-content;
}

.pull-right {
  background-color: #1e343ad8;
  color: white;
}
.pull-right li a {
  color: white !important;
  text-shadow: none !important;
}

.admin-grid-info {
  display: block;
  padding-right: 2em;
  color: white;
  text-align: left;
}

.admin-grid-info div {
  display: inline-grid;
}

.admin-grid div {
  display: block;
  padding: 10px;
}

.admin-grid {
  background-color: #1e343ad8;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid black;
  width: 350px;
  height: 375px;
}

.admin-tutorial h1 {
  text-align: center;
}

.admin-grid h3 {
  padding: 10px;
  line-height: 30px;
}
