body {
  font-family: "Montserrat";
  background-image: url(./images/geometry2.png) !important;
  background-repeat: repeat !important;
}

.container {
  font-family: "Montserrat";
}



.admin-grid-info{
  display: block;
  padding-right: 2em;
  color: white;
  text-align: left;
}

.admin-grid-info div{
  display:inline-grid;
  padding: 10px;
  width: 500px;
}

.admin-grid div{
  display: block;
}

.admin-grid{
  background-color: #1e343ad8;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid black;
  height: fit-content;
}

.admin-tutorial h1{
  text-align: center;
}