@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.7em;
  width: 100%;
  border-bottom: 1px solid #d1d1d1;

  &-logo {
    margin-left: 25px;
    font-size: 1.4em;
  }

  &-navigation {
    margin-right: 35px;

    a {
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;
      color: black;
      font-family: Montserrat;
      transition: background 0.3s, border 0.3s;
      border: 1px solid transparent;

      &:hover {
        background: hsl(0, 0, 91);
        border: 1px solid gray;
      }
    }

    .button {
      background: hsl(0, 0, 10);
      color: white;

      &:hover {
        color: black;
        background: hsl(0, 0, 90);
      }
    }
  }
}

.main-container {
  max-width: 1024px;
  margin: 5em auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.7em;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  width: 300px;
  overflow: hidden;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 0 0.25em #d5ff87;
  }
}

.photo-information {
  width: 100%;
  height: 100%;
  margin-top: -5px;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 1em;
}

.photo-actions {
  margin-top: 25px;

  a {
    color: #303030;
    font-size: 1.5em;
    padding: 0.1em 0.4em;
    border-radius: 8px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #e3e3e3;
      color: white;
    }
  }
}

.page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;

  button {
    padding: 0.4em 0.7em;
    border: 1px solid #d1d1d1;
    font-size: 1.08em;
    transition: background-color 0.2s;

    &:hover {
      background-color: hsl(0, 0, 85);
    }
  }

  button:disabled {
    background: hsl(0, 0, 74);
  }

  button:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .selected {
    background: hsl(81, 86, 86);
  }
}

.navbar2 {
  margin: top 2em;
}

main {
  display: flex;
  position: absolute;
}
