@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.7em;
  width: 1000px;
  border-bottom: 1px solid #d1d1d1;
  margin: 0 auto;

  &-logo {
    margin-left: 25px;
    font-size: 1.4em;
  }

  &-navigation {
    margin-right: 35px;

    a {
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        color: black;
        font-family: Montserrat;
        transition: background 0.3s, border 0.3s;
        border: 1px solid transparent;
  
        &:hover {
          background: hsl(0, 0, 91);
          border: 1px solid gray;
        }
      }

    .button {
      background: hsl(0, 0, 10);
      color: white;

      &:hover {
        color: black;
        background: hsl(0, 0, 90);
      }
    }
  }
}

.main-container {
  max-width: 1024px;
  margin: 5em auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.7em;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  width: 465px;
  overflow: wrap;
  transition: box-shadow 0.3s;
  z-index: 5;
}

.rute_info_1{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 443px;
  overflow-wrap: break-word;
  margin-top: -5em;
  padding-top: 20px;
  padding-left:15px;
  padding-right: 15px;
  padding-bottom:1px;
  height: 230px;
  
  z-index: -10;
  border-radius:15px;
}





.navbar2 {
  margin: top 2em;
}

main {
  display: flex;
}

.show_event_container{
  display: flex;
  justify-content: center;
}

.rute{
  float: left;
  width: 465px;
  margin: 0;
}
.info{
  width: fit-content;
  float:left;
  border: 2px solid black;
  border-radius: 15px;
  height: fit-content;
}