* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
nav {
  margin-top: 5em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #565857;
  border-radius: 15px;
  border: 2px solid black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8d928f;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.submit input{
  padding: 5px;
}


tr td p{
  color: white;
}

.eventform{
  margin: auto;
}


#add_event_time{
  display: inline-block;
}

#add_event_time label{
  display: block;

}
