@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background-image: url(./images/geometry2.png) !important;
  background-repeat: repeat !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

h2 {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.all-content {
  width: auto;
  padding-top: 8em;
}

.bg-custom-login {
  background-color: #1e343ad8 !important;
}

.submit input {
  padding: 5px;
}

#add_event_time {
  display: inline-block;
}

#add_event_time label {
  display: block;
}

header {
  display: flex;
  background-color: #1e343a;
  justify-content: space-between;
  height: 3.5em;
  align-items: center;
  z-index: 99;
  width: 100%;
  position: fixed;
  margin-bottom: 3.5em;
}

.login-ud {
  padding: 9px 20px;
  background-color: rgba(1, 78, 97, 0.849);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  margin-right: 30px;
  text-decoration-style: none;
  display: flex;
}

.forside-billede {
  text-align: center;
  margin-bottom: 1em;
}

.forside-vk {
  text-align: center;
  margin-bottom: 1em;
}

.forside-img {
  width: 1000px;
  margin: auto;
}
.forside-img img {
  width: 100%;
}

.login-ud a {
  text-decoration: none;
  color: white;
}

.rute-img {
  padding-left: -5px;
}

.login-ud:hover {
  background-color: rgba(0, 61, 77, 0.8);
}

.edit_event_knap a {
  padding: 9px 20px;
  background-color: rgb(0, 128, 160);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  margin-right: 30px;
  text-decoration-style: none;
  display: flex;
  max-width: 100%;
  width: fit-content;
  vertical-align: bottom;
  text-decoration: none;
  color: white;
}
.delete-knp {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.edit_event_knap {
  display: flex;
}

.nav-links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding-top: 15px;
  display: flex;
}
.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  align-items: center;
}

nav.navmenu {
  vertical-align: middle;
}

.nav-links li a {
  transition: color 0.4s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

.logo {
  cursor: pointer;
}

.logo img {
  margin-left: 30px;
}
.rute-container {
  font-family: "Montserrat", sans-serif;
  background-color: #1e343ad8;
  align-items: center;
  text-align: center;
  width: 465px;
  padding-top: 10px;
  border-radius: 1em;
  margin-top: 3em;
}

.ruter-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
}

.rute_info_1 {
  display: content;
  padding-bottom: 10px;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
}

.no-rute-event {
  width: 457px;
  height: 457px;
  border-radius: 10px;
  margin: 49px 0 0 25px;
}

.rute_info_2 {
  text-align: left;
  margin: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 425px;
}

.rute_beskivelse {
  text-decoration: underline;
}

iFrame {
  height: 490px;
}
.show_event_container {
  font-family: "Montserrat", sans-serif;
  background-color: #1e343ad8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1em;
  width: 1000px;
  margin-left: 12em;
  height: 546.5px;
}

.show_event_info {
  height: 455px;
  width: 440px;
  margin-top: 50px;
  border: 2px solid white;
  border-radius: 1em;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}
.show_event_rute {
  padding: 25px;
}
.show_event_title {
  text-align: center;
  font-style: italic;
}
.show_event_start_label {
  font-style: bold;
}
.show_event_start {
  float: right;
}
.show_event_time_start {
  float: right;
}
.show_event_time_end {
  float: right;
}

.show_event_beskrivelse {
  margin-top: 5em;
}

.show_event_desc {
  margin-top: 10px;
  height: 107px;
}

.show_event_content {
  margin-top: 3em;
}
.fc .fc-button {
  background-color: #1e343ad8;
}

.fc .fc-view-harness {
  background-color: #1e343ab4;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  background-color: #1e343ad8;
}

#calendar {
  padding: 1em;
  border: 2px solid #1e343ad8;
}

.filter-rute {
  font-family: "Montserrat", sans-serif;
  display: flex;
  background-color: #1e343ad8;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  align-items: center;
  margin-right: 30px;
}

.filter-rute div {
  padding-right: 30px;
  font-size: 16px;
  color: white;
  padding-left: 10px;
  width: fit-content;
  min-width: 155px;
}

.search-knp {
  background-color: #1e343ad8 !important;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: white !important;
  height: 42.5px;
  border: none;
}

.filter-bar {
  display: inline-block;
  align-content: space-between;
}

.container {
  margin: auto;
  align-content: center !important;
}

.container .ruter-content,
.filter-bar {
  max-width: 100%;
}

.filter-bar a {
  display: flex;
  font-size: 15px;
}
.filter-bar label {
  font-size: 15px;
}
.filter-bar select {
  font-size: 12px;
}

.opret-rute-div {
  align-items: center;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  min-width: none;
}

.opret-rute-knp {
  margin-left: 0.5em;
  width: 137px;
}

.opret-rute-div a {
  background-color: #1e343ad8 !important;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  text-decoration: none;
  text-align: center !important;
}

.foot-items {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.foot-box {
  padding: 2em 0 2em 0;
  background-color: #fff;
  color: #1b1b1b;
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

.foot-box ul {
  list-style: none;
  line-height: 1.8;
  font-size: 14px;
  padding-left: -2rem !important;
}

.foot-box ul a {
  text-decoration: none;
  color: #3b3b3b;
}

.foot-row h3 {
  margin: 0 0 12px 0;
  font-weight: bold;
  font-size: 16px;
}
