{% extends 'admin/master.html' %}{% block head_css %} {{super()}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='admin.css') }}"
/>

{% endblock head_css %} {% block body %}
<div class="admin-tutorial">
  <div>
    <h1>Aalborg Cykle-Ring Admin</h1>
  </div>
  <div class="admin-grid-info">
  <div class="admin-grid">
    <h3>Ændre bruger-rettigheder</h3>
    <div>
      <p>
        Bruger-rettigheder kan ændres under
        <a href="/admin/user">"User"</a> tabben.
      </p>
      <br />
      <p>
        Ved at trykke på "rediger" knappen, på en specifikk bruger, kan man
        vælge hvilke rættigheder brugeren skal have.
      </p>
      <br />
      <p>
        Denne side viser også hvem der har oprettett de forskellige
        begivenheder. Dette kan ses ved at trykke på rediger knappen, på en
        specifik bruger.
      </p>
      <p>NB! Hvis en bruger har glemt sin kode, skal den ikke ændres her!</p>
    </div>
  </div>
  <div class="admin-grid">
    <h3>Redigere/Slette Begivenheder</h3>
    <div>
      <p>
        Kalender-events kan ændres/slettes under
        <a href="/admin/nyevent">"NyEvent"</a> tabben.
      </p>
      <br />
      <p>
        En begivenhed redigeres ved at trykke på "rediger" knappen. Her kan alle
        event detaljer ændres
      </p>
      <br />
      <p>
        Brugeren der har oprettet eventet har også mulighed for at
        redigere/slette deres begivenhed.
      </p>
    </div>
  </div>

  <div class="admin-grid">
    <h3>Redigere/Slette Ruter</h3>
    <div>
      <p>
        Ruter kan ændres/slettes under
        <a href="/admin/rute">"Rute"</a> tabben.
      </p>
      <br />
      <p>Her kan Ruten, rute-beskrivelsen, distancen mm. ændres</p>
      <br />
      <p>Dettet er det eneste sted, hvor ruter kan ændres/redigeres.</p>
    </div>
  </div>
</div>
</div>
{% endblock body %}
