{% extends 'admin/master.html' %}{% block head_css %} {{super()}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='admin.css') }}"
/>

{% endblock head_css %} {% block body %}
<div class="admin-tutorial">
  <div>
    <h1>Admin-Side</h1>
  </div>
  <div class="admin-grid-info">
    <div class="admin-grid">
      <h3>Ændre Bruger Rettigheder</h3>
      <div>
        <p>
          Bruger Administration kan findes
          <a href="/admin/user">her</a>, og i navigationsbarren under "User".
        </p>
        <br />
        <p>
          For at ændre en brugers rettigheder, skal man trykke på
          <img src="../../static/images/edit.svg" alt="" /> iconet, til venstre
          for brugernavnet.
        </p>
        <br />
        <p>
          For at slætte en bruger, skal man trykke på
          <img src="../../static/images/trash.svg" alt="" /> iconet.
        </p>
      </div>
    </div>
    <div class="admin-grid">
      <h3>Redigere eller Slette Begivenheder</h3>
      <div>
        <p>
          Kalender/Event Administration kan findes
          <a href="/admin/nyevent">her</a>, og i navigationsbarren under
          "NyEvent".
        </p>
        <br />
        <p>
          En begivenhed redigeres ved at trykke på
          <img src="../../static/images/edit.svg" alt="" /> iconet til venstre
          for den begivenhed, der skal ændres.
        </p>
        <br />
        <p>
          En begivenhed slettes ved at trykke på<img
            src="../../static/images/trash.svg"
            alt=""
          />
          iconet.
        </p>
      </div>
    </div>

    <div class="admin-grid">
      <h3>Redigere eller Slette Ruter</h3>
      <div>
        <p>
          Rute Administration kan findes
          <a href="/admin/rute">her</a>, og i navigationsbarren under "Rute".
        </p>
        <br />
        <p>
          Ruter kan redigeres ved at trykke på<img
            src="../../static/images/edit.svg"
            alt=""
          />
          iconet til venstre for den rute, der skal redigeres.
        </p>
        <br />
        <p>
          Ruter kan slættes ved a trykke på
          <img src="../../static/images/trash.svg" alt="" /> iconet.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
